body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif,roboto;
    margin: 0;
}

.header,.middle-middle{
    padding: 0 48px 48px 48px;
}

.middle-middle{
    padding: 48px;
}

.bottom-middle{
    margin: 50px;
}

.first-row,.second-row,.image,.image-subtext,.middle-middle,.bottom-middle {
    display: flex;
}

.first-row{
    padding: 16px 0 16px 0;
}

.left{
    flex-grow: 1;
}

#header-links{
    display: flex;
    gap: 16px;
}

.center{
    display: flex;
}

.image,.image-subtext,.center,.middle-middle{
    justify-content: center;
    gap: 16px;
}

.image-and-subtext{
    flex-direction: column;
}

.bottom-middle{
    align-items: center;
}

.footer{
    text-align: center;
}

.header,.footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

a,#secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

h1{
    font-weight: 900;
    font-size: 48px;
}

button{
    padding: 8px 16px;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}